################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoReview/.vs/AutoReview/v15
/AutoReview/bin/Debug
/AutoReview/obj/Debug
